* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/8.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    gap: 4em;
    padding: 1rem;

    div {
      width: 15em;
      height: 200px;
      border: 2px solid #000000;
      border-radius: 10px;
    }

    .box-1 {
      background: linear-gradient(90deg, #0019ff 0%, #fb0000 100%);
    }
    .box-2 {
      background: linear-gradient(139deg, #00ff0c 0%, #fb00e5 100%);
    }
    .box-3 {
      background: linear-gradient(90deg, #0001ff 0%, #00ff0c 49%, #fb0000 100%);
    }
    .box-4 {
      background: linear-gradient(to right, #f6ff00 10%, #00ffff 80%, #ffa500 );
    }
  }
}

@media all and (min-width: 768px) {
  body {
    main {
      grid-template-columns: repeat(2, 270px);
      grid-template-rows: auto;
      align-items: center;
      justify-content: center;
    }
  }
}
